<footer class="footer">
    <div class="footer-logo">
        <img src="/images/SMlogos/jewelry.png" alt="logo image" height="auto" width="150px">
        <h4>Jewellery Website</h4>
    </div>
    <div class="footer-copyright">
        <p>Copyright © 2025 Jewellery Website. All rights reserved.</p>
    </div>
    <div class="footer_social-media">
        <h6>Follow Us</h6>
        <a href="#" id="facebook">
            <img src="/images/SMlogos/facebook.svg" alt="Facebook logo-link">
        </a>
        <a href="#" id="instagram">
            <img src="/images/SMlogos/instagram.svg" alt="Instagram logo-link">
        </a>
        <a href="#" id="twitter">
            <img src="/images/SMlogos/twitter.svg" alt="twitter logo-link">
        </a>
        
    </div>
</footer>