<!-- <header class="header">
    <img src="/images/jewelry.png" alt="logo" height="150px" width="auto">
    <div class="header_container">
    <h1 class="header__title">
         <%= title %> 
    </h1>
    
</div>
</header> -->


<!-- <nav class="nav_menu">
    
    <div class="nav_links">
        <a class="menu__item" href="/">HomePage</a>
        <a class="menu__item"  href="/gold">GoldPage</a>
        <a class="menu__item"  href="/diamond">DiamondPage</a>
        <a class="menu__item"  href="/silver">SilverPage</a>
    </div>
</nav> -->



    <header class="header">
        <div class="navbar">
            <h1><a href="/" class="pageLogo-title">Jewellery</a></h1>
            <ul class="menu-links">
                <li><a href="/" class="right-menu">Home</a></li>
                <li><a href="/gold" class="right-menu">Gold</a></li>
                <li><a href="/silver" class="right-menu">Silver</a></li>
                <li><a href="/diamond" class="right-menu">Diamond</a></li>
            </ul>
        </div>
    </header>

