    <header class="header">
        <div class="navbar">
            <h1><a href="/" class="pageLogo-title">Jewelry</a></h1>
            <ul class="menu-links">
                <li><a href="/" class="right-menu">Home</a></li>
                <li><a href="/gold" class="right-menu">Gold</a></li>
                <li><a href="/silver" class="right-menu">Silver</a></li>
                <li><a href="/Diamond" class="right-menu">Diamond</a></li>
            </ul>
        </div>
    </header>
