<header class="header">
    <img src="images/jewelry.png" alt="logo" height="150px" width="auto">
    <div class="header_container">
    <h1 class="header__title">
         <%= title %> 
    </h1>
    <h2 class="header__subtitle"> 
         <%= subtitle %>
    </h2>
</div>
</header>