<nav class="nav_menu">
    <a class="menu__item" href="/">HomePage</a>
    <a class="menu__item"  href="/gold">GoldPage</a>
    <a class="menu__item"  href="/diamond">DiamondPage</a>
    <a class="menu__item"  href="/silver">SilverPage</a>
</nav>